{% extends './base.html' %}

{% block title %} Iscrizioni {% endblock %}

{% block content %}
    <a class="waves-effect waves-light btn" href="{% url 'iscrizione_nuova'  %}">Nuova iscrizione</a>
    <h1>Lista iscrizioni</h1>
    {% if object_list %}
        <table class="responsive-table striped">
            <thead>
                <tr>
                    <td>Cliente</td>
                    <td>Inizio</td>
                    <td>Scadenza</td>
                    <td>Costo</td>
                    <td>Dettaglio</td>
                </tr>
            </thead>
            <tbody>
        {% for object in object_list %}
                <tr>
                    <td>{{ object.cliente.username }}</td>
                    <td>{{ object.inizio }}</td>
                    <td>{{ object.scadenza }}</td>
                    <td>{{ object.prezzo }}</td>
                    <td><a class="waves-effect waves-light btn" href="{% url 'iscrizione' object.id %}">🔍</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nessuna iscrizione presente.</p>
    {% endif %}
{% endblock %}